@page "/"
@using Syncfusion.Blazor.PivotView
@using Microsoft.Extensions.Logging
@using System.Diagnostics
@using Common
@using Syncfusion.Blazor.Buttons

@inject Generator generator
@inject ILogger<Index> logger
@inject RefreshingCache cache

@implements ISubscribeToRefreshedData
@implements IDisposable

<SfButton CssClass="e-flat" IsPrimary="true" IconCss="@IconCss" Content="@Content" IsToggle="true" @onclick="OnToggleClick"></SfButton>
<div style="width: calc(100vw - 20rem);">
    <SfPivotView TValue="MarketOrderVm" height="400" ShowFieldList=false ShowGroupingBar=true AllowDataCompression=true EnableVirtualization=true>
        <PivotViewEvents TValue="MarketOrderVm" EnginePopulating="EnginePopulating" EnginePopulated="PivotEnginePopulated"></PivotViewEvents>
        <PivotViewDataSourceSettings DataSource="@Data" ExpandAll=false EnableSorting=true>
            <PivotViewColumns>
                <PivotViewColumn Name="@nameof(MarketOrderVm.TopLevelStrategyName)"></PivotViewColumn>
                <PivotViewColumn Name="@nameof(MarketOrderVm.StrategyName)"></PivotViewColumn>
            </PivotViewColumns>
            <PivotViewRows>
                <PivotViewRow Name="@nameof(MarketOrderVm.Way)"></PivotViewRow>
            </PivotViewRows>
            <PivotViewValues>
                <PivotViewValue Name="@nameof(MarketOrderVm.ExecNom)"></PivotViewValue>
            </PivotViewValues>
            <PivotViewFilters>
                <PivotViewFilter Name="@nameof(MarketOrderVm.Counterparty)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.Way)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.InstanceId)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.InstrumentType)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.StrategyName)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.TopLevelStrategyName)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.VenueId)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.VenueType)"></PivotViewFilter>
                <PivotViewFilter Name="@nameof(MarketOrderVm.VenueCategory)"></PivotViewFilter>
            </PivotViewFilters>
        </PivotViewDataSourceSettings>
        <PivotViewDisplayOption View=View.Both></PivotViewDisplayOption>
        <PivotChartSettings Title="Nominal break down">
            <PivotChartSeries Type="ChartSeriesType.Bar"></PivotChartSeries>
            <PivotChartPrimaryYAxis>
                <PivotChartPrimaryYAxisBorder Width="0"></PivotChartPrimaryYAxisBorder>
            </PivotChartPrimaryYAxis>
        </PivotChartSettings>
    </SfPivotView>
</div>

@code {
    public string IconCss = "e-icons e-pause";
    public string Content = "Pause";
    private bool paused = false;
    public List<MarketOrderVm> Data { get; set; }
    public bool CanUpdateData { get; set; }
    private Stopwatch stopwatch;

    protected override void OnInitialized()
    {
        this.Data = generator.Execute();
        cache.Subscribe(this);
    }

    private void EnginePopulating(EnginePopulatingEventArgs obj)
    {
        CanUpdateData = false;
        stopwatch = Stopwatch.StartNew();
        logger.LogInformation("[pivot-mkt] PivotEnginePopulating");
    }

    private void PivotEnginePopulated(EnginePopulatedEventArgs obj)
    {
        CanUpdateData = true;
        logger.LogInformation($"[pivot-mkt] PivotEnginePopulated, takes {stopwatch.Elapsed}");
    }

    public Guid Id { get; } = Guid.NewGuid();

    public void Dispose()
    {
        cache.Unsubscribe(this);
        logger.LogInformation("Disposed");
    }

    public async Task UpdateAsync(List<MarketOrderVm> marketOrders)
    {
        void All()
        {
            this.Data = marketOrders;
            StateHasChanged();
        }

        Stopwatch sw = Stopwatch.StartNew();
        logger.LogInformation("[dbg-perf] UI Refresh STARTS ...");
        await InvokeAsync(All);
        logger.LogInformation($"[dbg-perf] UI Refresh {Data.Count} Mkt took {sw.Elapsed}");
    }
    
    public void OnToggleClick()
    {
        if (!paused)
        {
            this.Content = "Play";
            this.IconCss = "e-icons e-play";
            cache.Unsubscribe(this);
        }
        else
        {
            this.Content = "Pause";
            this.IconCss = "e-icons e-pause";
            cache.Subscribe(this);
        }

        paused = !paused;
        Debug.WriteLine($"new paused = {paused}");
    }
}